
@font-face {
  font-family: "Pangolin";
  src: url('../assets/fonts/Pangolin-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Able';
  src: url('../assets/fonts/Able-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Acme';
  src: url('../assets/fonts/Acme-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
%pangolin-base {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
%able-base {
  font-family: "Able", sans-serif;
  font-weight: 400;
  font-style: normal;
}
%acme-base {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
@mixin font-pangolin ($size, $weight:400, $line-height: 1.2){
  @extend %pangolin-base;
  font-size: #{$size}px;
  font-weight: $weight;
  line-height: $line-height;
}
@mixin font-able ($size, $weight:400, $line-height: 1.2){
  @extend %able-base;
  font-size: #{$size}px;
  font-weight: $weight;
  line-height: $line-height;
}
@mixin font-acme($size, $weight:400, $line-height: 1.2){
  @extend %acme-base;
  font-size: #{$size}px;
  font-weight: $weight;
  line-height: $line-height;
}
@mixin font-100  { @include font-pangolin (100); }
@mixin font-80  { @include font-pangolin (80); }
@mixin font-72 { @include font-pangolin (72); }
@mixin font-64  { @include font-pangolin (64); }
@mixin font-60 { @include font-pangolin (60); }
@mixin font-50  { @include font-pangolin (50); }
@mixin font-48  { @include font-pangolin (48); }
@mixin font-40  { @include font-pangolin (40); }
@mixin font-32 { @include font-pangolin (32); }
@mixin font-117 { @include font-pangolin (117); }
@mixin font-55 { @include font-pangolin (55); }
@mixin font-able-32{ @include font-able(32);}
