@use "../../styles/typography.scss" as *;
@use "../../styles/_colors.scss" as *;

.button {
  display: inline-flex;
  border: none;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  transition: all 0.2s ease;
  cursor: pointer;
  background: none;
  margin: 0;
  padding: 0;
}

.primary {
  @include font-100;
  color: $gray-dark;
  text-transform: uppercase;
  line-height: 1;

  @media (max-width: 768px) {
    font-size: 40px;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.06);
  }

  &.main {
    color: $gray-dark;
  }

  &.waiting {
    color: $gray-medium;
  }

  &.end {
    color: $gray-dark;
  }
}

.secondary {
  background-color: $gray-medium;
  border-radius: 50px;
  color: $white;
  @include font-able-32;
  padding: 12px 60px;
  border: none;

  @media (max-width: 768px) {
    padding: 8px 30px;
    font-size: 20px;
  }

  &.main {
    background-color: $gray-medium;
  }

  &.waiting {
    opacity: 0.8;
    cursor: not-allowed;
  }

  &.end {
    background-color: $gray-medium;
  }
}