@use "../../styles/colors.scss" as *;
@use "../../styles/typography.scss" as *;

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.label {
    @include font-pangolin(48);
    color: $gray-dark;
    margin: 0;
    line-height: 1;

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.code {
    @include font-acme(64);
    color: $red;
    -webkit-text-stroke: 1px $black;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0;
    letter-spacing: 2px;
    line-height: 1.1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    user-select: text;
    cursor: text;
    pointer-events: auto;
    position: relative;
    z-index: 100;

    @media (max-width: 768px) {
        font-size: 28px;
    }
}